<!DOCTYPE html>
%html
	%head
		<meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	%body
		%main
			%a{href: "http://github.com/backstop/glassfrog_email_grabber", title: "source code"} view the source on Github
			%form{ :action => "", :method => "post"}
				%fieldset
					%li
						%label{:for => "circle"} Circle (required):
						%input{:type => "text", :name => "circle", :class => "text"}
					%li
						%label{:for => "circle"} Key (required):					
						%input{:type => "text", :name => "api_key", :class => "text"}
					%input{:type => "submit", :value => "Send", :class => "button"}
			- @members.each do |member|
				%li #{member}
			- if @mailto	
				%a{href: "mailto:#{@mailto}", title: "mail"} mail these people

